@import url('./layout/normalize.css');
@import url('./layout/base.css');
@import url('./layout/fonts.css');

@import url('./blocks/main-page.css');
@import url('./blocks/containers.css');
@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/site-menu.css');
@import url('./blocks/contacts.css');
@import url('./blocks/main-announce.css');
@import url('./blocks/offers-section.css');
@import url('./blocks/history.css');
@import url('./blocks/page-menu.css');
@import url('./blocks/about.css');
@import url('./blocks/footer.css');
@import url('./blocks/social.css');
@import url('./blocks/top-line.css');
@import url('./blocks/main-title.css');
@import url('./blocks/breadcrumbs.css');
@import url('./blocks/services__page-content.css');
@import url('./blocks/services.css');
@import url('./blocks/partners.css');

.reviews-main {
    background: white;
}

.reviews__container {
    padding-top: 98px;
    padding-bottom: 81px;
}

.reviews {
    /* width: 1141px; */
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 70px;
}

.reviews__item {
    /* width: 557px; */
    display: inline-flex;
    flex-direction: column;
    background: #F4F5F5;
    color: black;
    padding: 50px 30px;
    margin-bottom: 17px;
    border-radius: 4px;
    
}

.avatar {
    margin-right: 22px;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.review__date {
    font-weight: 600;
    font-size: 14px;
}

.reviews__username {
    color: #1A1B1E;
    font-weight: bold;
    font-size: 27px;
    margin-right: 7px;
}

.reviews__username:hover {
    color: #2E77A4;
    text-decoration: underline;
    transition: .5s;
}

.reviews__username:after {
    content: url(/img/reviews-img/vk-blue.png);
    height: 30px;
    margin-left: 7px;
}


.username-active {
    color: #2E77A4;
    text-decoration: underline;
}

.reviews__tags-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tag {
    font-size: 13px;
    padding: 10px 20px;
    color: #303030; 
    background: #E7E7E7;
    border-radius: 35px;
}

.reviews__tag {
    background: #B9EAE4;
    margin-right: 10px;
}

.reviews__tag:last-child {
    margin-right: 0px;
}

.reviews__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 29px;
}

.reviews__content-text {
    margin-bottom: 24px;
    line-height: 2.1;
}

.separator {
    background: #17191C url(../img/reviews-img/rev.png) right 9% bottom no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.separator__content {
    max-width: 42%;
}

.separator__announce {
    font-weight: bold;
    font-size: 48px;
}

.form-section {
    background: #F4F5F5;
    padding-top: 62px;
    padding-bottom: 91px;
}

.form-section__announce {
    font-weight: 700;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 57px;
}

.form__row {
    display: flex;
    margin-bottom: 26px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    padding: 19px 30px;
    border: none;
    font-size: 18px;
    border-radius: 4px;
}

.form__input:focus {
    border: 1px solid #8F00FF
}

.form__input:last-child {
    margin-right: 0;
}

.form__input:placeholder {
    color: #666666;
}

.form__input--textarea {
    height: 235px;
}

.form__controls {
    display: flex;
    margin-bottom: 24px;
}

.controls {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.controls__item {
    margin-right: 9px;
    margin-bottom: 9px;
}

.form__controls-announce {
    color: #1A1B1E;
    font-size: 18px;
    width: 40%;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background:#B9EAE4;
}

.controls__checkbox {
    display: none;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}



/* Welcome page */

.welcome__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/main-bg.png) center bottom / cover no-repeat;
 }

 .welcome__container {
     animation: shake-shake 1.3s 1;
     animation-fill-mode: forwards;
     opacity: 0;
 }
 
@keyframes shake-shake {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(40px);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(20px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.welcome {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: grayscale(1);
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__logo {
    margin-bottom: 37px;
}



