@import url('./layout/normalize.css');
@import url('./layout/base.css');
@import url('./layout/fonts.css');

@import url('./blocks/main-page.css');
@import url('./blocks/containers.css');
@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/site-menu.css');
@import url('./blocks/contacts.css');
@import url('./blocks/main-announce.css');
@import url('./blocks/offers-section.css');
@import url('./blocks/history.css');
@import url('./blocks/page-menu.css');
@import url('./blocks/about.css');
@import url('./blocks/footer.css');
@import url('./blocks/social.css');
@import url('./blocks/top-line.css');
@import url('./blocks/main-title.css');
@import url('./blocks/breadcrumbs.css');
@import url('./blocks/services__page-content.css');
@import url('./blocks/services.css');
@import url('./blocks/partners.css');

.reviews-main {
    background: white;
}

.reviews__container {
    padding-top: 98px;
    padding-bottom: 65px;
}

.reviews {
    /* width: 1141px; */
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 70px;
}

.reviews__item {
    /* width: 557px; */
    display: inline-flex;
    flex-direction: column;
    background: #F4F5F5;
    color: black;
    padding: 50px 30px;
    margin-bottom: 17px;
    border-radius: 4px;
    
}

.avatar {
    margin-right: 22px;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.review__date {
    font-weight: 600;
    font-size: 14px;
}

.reviews__username {
    color: #1A1B1E;
    font-weight: bold;
    font-size: 27px;
    margin-right: 7px;
}

.reviews__username:after {
    content: url(/img/reviews-img/vk-blue.png);
    height: 30px;
    margin-left: 7px;
}


.username-active {
    color: #2E77A4;
    text-decoration: underline;
    
}

.reviews__tags-container {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    padding: 10px 20px;
    color: #303030; 
    background: #E7E7E7;
    border-radius: 35px;
}

.reviews__tag {
    background: #B9EAE4;
}

.reviews__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 29px;
}

.reviews__content-text {
    margin-bottom: 24px;
}

.separator {
    background: #17191C url(img/reviews-img/rev.png) right 20% bottom no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.separator__content {
    max-width: 42%;
}

.separator__announce {
    font-weight: bold;
    font-size: 48px;
}

/* Welcome page */

.welcome__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/main-bg.png) center bottom / cover no-repeat;
 }

.welcome {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: grayscale(1);
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__logo {
    margin-bottom: 37px;
}
