@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background: #17191C;
    font-size: 14px;
    color: #fff;
    line-height: 1.42;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0 0 0 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

img {
    display: block;
    width: 100%;
}

.main-page {
    background: url("img/main-bg.png") center top no-repeat, url("img/bottom-bg.png") center bottom 150px no-repeat;
}

.main-page__wrapper {
    backdrop-filter: grayscale(1);
}

.container {
    width: 1141px;
    margin: 0 auto;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 584px;
    margin-bottom: 192px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 27px;
}


.logo {
    display: block;
}

.site-menu {
    width: 26%;
    padding-left: 30px;
    padding-bottom: 7px;
}


.site-menu__items {
    display: flex;
    justify-content: space-between;

}

.site-menu__item {
    font-size: 16px;
}

.site-menu__item:last-child {
    margin-right: 0;
}

.site-menu__item-ref {
    font-size: 16px;
    text-decoration: none;
}


.site-menu__item-ref:hover {
    color: #8F00FF;
}

.contacts {

    font-style: normal;
    text-align: right;
    line-height: 1.1;
}

.footer__contacts {
    right: 0px;
    top: 49px;
}


.contacts__number {
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    padding-bottom: 1px;
}

.contacts__info {
    font-size: 11px;
    color: #9A9A9A;
    text-decoration: none;
    margin-bottom: 6.5px;
}

.main-announce__container {
    width: 56%;
}

.main-announce__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 25px;
}

.main-announce__text {
    font-size: 21px;
    margin-bottom: 80px;
    ;
}

.main-announce__button {
    display: inline-block;
    background-color: #8F00FF;
    border-radius: 4px;
    padding: 18px 40px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.main-announce__button:hover {
    background-color: #741BBA;
}

.offers {
    margin-bottom: 117px;
}

.offers__title {
    margin-bottom: 51px;
}

.offers__name {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
}

.offers__name:after {
    content: url(img/Vector-4.png);
    margin-left: 9px;
    vertical-align: middle;
}

.offers__items {
    display: flex;
    justify-content: space-between;
}

.offers__item {
    overflow: hidden;
    border-radius: 4px;
    width: calc(100%/3 - 18px);
}

.offer__header {
    height: 134px;
    /* background-size: cover; */
}

.offer__item-pic {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.offer__item-text {
    box-sizing: border-box;
    min-height: 305px;
    padding: 28px 20px 27px 20px;
    background-color: #fff;
    color: #666666;
}

.offer__item-name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 21px;
}


.offer__item-spec {
    font-size: 16px;
    margin-right: 24px;
    padding-left: 10px;
    height: 26px;
}


.offer__spec-pic {
    vertical-align: middle;
}

.offer__spec-title {
    vertical-align: middle;
}

.offer__info {
    margin-bottom: 25px;
    line-height: 1.45;
    display: flex;
    justify-content: space-around;
}

.offer__about {
    color: #303030;
    margin-bottom: 30px;
}



.offer__item-button {
    display: inline-block;
    padding: 18px 29px 18px 30px;
    border-radius: 4px;
    border: 1px solid #8F00FF;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #8F00FF;
}

.offer__item-button-wrapper--active .offer__item-button {
    color: #fff;
    background-color: #8F00FF;
}

.offer__item-button:hover {
    color: #fff;
    background-color: #8F00FF;
}

.history {
    margin-bottom: 140px;
}

.history__items {
    margin-bottom: 52px;
    display: flex;
    justify-content: space-between;
}

.history__item {

    position: relative;
    overflow: hidden;

}

.history__item-pic {
    border-radius: 10px;
}

.history__item:last-child {
    margin-right: 0px;
}

.history__card-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 31px 30px 28px 29px;
}

.history__day {
    display: inline-block;
    margin-bottom: 12px;
}

.history__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 46px;
}

.history-card__title {
    font-size: 24px;
    font-weight: bold;
}

.history__about {
    width: 477px;
    font-size: 16px;
}

.page-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.page-menu__list {
    display: flex;

}

.page-menu__now {
    margin-right: 22px;
}

.page-menu__list-ref {
    display: block;
    font-weight: bold;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
}

.page-menu__list-item {
    text-align: center;
    margin-right: 3px;
}

.page-menu__list-ref:hover {
    background-color: #8F00FF;
}

.page-menu__list-item--active .page-menu__list-ref {
    background-color: #8F00FF;
}

.page-menu__list-item:last-child {
    margin-right: 0px;
}

.page-menu__list-ref {
    text-decoration: none;
}

.about {
    display: flex;
    margin-bottom: 75px;
}

.about__pic {
    display: block;
}

.about__wrapper {
    box-sizing: border-box;
    max-width: 785px;
    padding: 69px 81px 66px;
    border-radius: 4px;
    background: linear-gradient(45deg, #8F00FF, #148CFF);
    overflow: hidden;
    margin-left: -140px;
    margin-top: 100px;
}

.about:before {
    content: "";
    display: block;
    width: 489px;
    height: 505px;
    background: url(img/kviz_pliz__nizhnii_novgorod_1_qg_large\ 1.png) center center / cover no-repeat;
}


.about__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 37px;
}

.about__info {
    line-height: 27px;
    min-height: 135px;
    font-size: 16px;
    margin-bottom: 40px;
}

.about__button {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 18px 40px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 57px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__menu {
    padding-top: 6px;
    padding-left: 18px;
}



.social {
    width: 12%;
}

.social__list {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.social__item {
    padding: 0 0 0 7px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__ref {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}


.social__item--telegram .social__ref {
    background-image: url(img/telegram.png);
}

.social__item--vk .social__ref {
    background-image: url(img/vk.png);
}

.social__item--facebook .social__ref {
    background-image: url(img/f.png);
}

.social__item--inst .social__ref {
    background-image: url(img/in.png);
}

.social__item--telegram .social__ref:hover {
    background-image: url(img/telegram-h.png);
}

.social__item--vk .social__ref:hover {
    background-image: url(img/vk-h.png);
}

.social__item--facebook .social__ref:hover {
    background-image: url(img/f-h.png);
}

.social__item--inst .social__ref:hover {
    background-image: url(img/in-h.png);
}


.social__item:last-child {
    margin-right: 0px;
}

/* services page styles */


.top-line {
    min-height: 415px;
    background: url(img/main-bg.png) center center no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-title {
    font-size: 72px;
    font-weight: bold;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    color:#9A9A9A;
}

.breadcrumbs__item:after {
    content: "/";
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
}

.page-content {
    background-color: #F2F2F2;
}


/* .services {
    display: flex;
} */

.services__item {
    display: flex;
}

.services__image {
    /* width: 30%; */
}

.services__container {
    flex:1;
}

.services__name {
    color: #000;
    font-size: 36px;
    font-weight: bold;
}

.services__text {
    color:#303030;
    font-size: 16px;
}

.about__button-services {
    border: 1px solid #8F00FF;
    color: #8F00FF;
}

.page-menu__services {
    color: #000;
}

.page-menu__services .page-menu__list-item--active .page-menu__list-ref {
    color:#fff;
}








