@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background: #17191C;
    font-size: 14px;
    color: #fff;
    line-height: 1.42em;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

p {
    margin: 0 0 0 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.main-page-wrapper {
    background: url("img/main-bg.png") center top no-repeat, url("img/bottom-bg.png") center bottom 150px no-repeat;
}

.container {
    width: 1141px;
    margin: 0 auto;
}

.header {
    height: 140px;
    position: relative;
}
.logo {
    display: block;
    position: absolute;
}

.logo--header .logo {
    top: 34px;
    left: 0px;
}
.logo--footer .logo {
    top: 52px;
    left: 0px;
}

.site-menu--header .site-menu  {
    position: absolute;
    top: 37px;
    left: 403px;
}

.site-menu--footer .site-menu {
    position: absolute;
    top: 52px;
    left: 243px;
}

.site-menu__items{
    margin-left: 8px;
}

.site-menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;;
    font-size: 16px;
    margin-left: 10px;
}


.site-menu__item-ref {
    font-size: 16px;
    text-decoration: none;
    margin-left: 5px;
}


.site-menu__item-ref:hover {
    color: #8F00FF;
}

.contacts {
    position: absolute;
    top: 32px;
    right: -16px;
    font-style: normal;
    text-align: right;
    line-height: 1.07;
}

.contacts--footer .contacts {
    width: 191px;
    top: 17px;
    right: 19px;
}

.contacts__number {
    text-decoration: none;
    font-size: 26px;
}
.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    padding-bottom: 1px;
}

.contacts-footer__title {
    font-size: 11px;
    color: #9A9A9A;
    text-decoration: none;
    margin-bottom: 6.5px;
}

.main-announce {
    width: 637px;
}
.main-announce__title {
    margin-top: 72px;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 27px;
}
.main-announce__text {
    font-size: 21px;
    margin-bottom: 99px;;
}
.main-announce__button {
    background-color: #8F00FF;
    border-radius: 4px;
    padding: 18px 40px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.main-announce__button:hover {
    background-color: #741BBA;
}
.offers {
    margin-top: 193px;
    margin-top: none;
}
.offers__title {
    margin-bottom: 51px;
}
.offers__name {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin-right: 9px;
    
}
.offers__name:after {
    content: url(img/Vector-4.png);
    margin-left: 9px;
    vertical-align: middle;
}

/* .offers__pic {
    display:inline-block;

} */

.offers__item {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 127px;
    border-radius: 4px;
    margin-right: 23px;
    width: 362px;
}
.offers__item:last-child{
    margin-right: 0px;
}

.offers__header{
    min-height: 144px;
    /* background-size: cover; */
}

.offers__item-pic {
    object-fit: cover;
    height: 144px;
    width: 100%;
}

.offers__item-text {
    box-sizing:border-box;
    min-height: 305px;
    padding-top: 33px;
    padding-right: 22px;
    padding-left: 22px;
    background-color: #fff;
    color: #666666;
    /* position: relative; */
}

.offers__item-name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 23px;
}


.offers__item-spec {
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;
    height: 26px;
    line-height: 26px;
}

.offers__spec-pic {
    vertical-align: middle;
}

.offers__spec-title {
    vertical-align: middle;
}

.offers__about {
    margin-top: 26.5px;
    margin-bottom: 24.5px;
    color: #303030;
}



.offers__item-button {
    display: inline-block;
    padding: 18px 29px 18px 30px;
    border-radius: 4px;
    /* border: 1px;
    border-color: #8F00FF; */
    border: 1px solid #8F00FF;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #8F00FF;
}

.offers__item-button-wrapper--active .offers__item-button{
    color: #fff;
    background-color: #8F00FF;
}

.offers__item-button:hover {
    color: #fff;
    background-color: #8F00FF;
}

.history__item {
    
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    margin-bottom: 74.5px;
    margin-right: 12px;

}

.history__item-pic {
    border-radius: 10px;
}

.history__item:last-child {
    margin-right: 0px;
}

.history__card-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 17px 30px;
}

.history__day {
    display: inline-block;
    margin-bottom: 12px;
}

.history__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 46px;
}
    
.history-card__title {
    font-size: 24px;
    font-weight: bold;
}

.history__about {
    width: 477px;
    font-size: 16px;
}

.history__about p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-menu__list-item, .page-menu__now, .page-menu__list {
    display: inline-block;
}

.page-menu {
    text-align: center;
    font-size: 16px;
    margin-bottom: 140px;
}

.page-menu__now {
    margin-right: 25px;
}

.page-menu__list-ref {
    display: block;
    font-weight: bold;
    margin-right: 24px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
}

.page-menu__list-ref:hover {
    background-color: #8F00FF;
}

.page-menu__list-item--active .page-menu__list-ref{
    background-color: #8F00FF;
}

.page-menu__list-item:last-child {
    margin-right: 0px;
}

.page-menu__list-ref {
    text-decoration: none;
}

.about__pic {
    display: inline-block;
    vertical-align: top;
}

.about__wrapper {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 785px;
    height: 455px;
    padding: 70px 81px 66px;
    border-radius: 4px;
    background: linear-gradient(45deg, #8F00FF, #148CFF);
    overflow: hidden;
    margin-left: -140px;
    margin-top: 100px;
}

.about__text {
    width: 502px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 37px;
}

.about__info {
    line-height: 27px;
    min-height: 135px;
    font-size: 16px;
    margin-bottom: 61px;
}

.about__button {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 18px 40px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.footer {
    height: 146px;
    margin-top: 53px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}
.footer .logo{
    display: inline-block;
}
.footer .site-menu {
    display: inline-block;
}

.social {
    position: absolute;
    top: 54px;
    right: 265px;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__ref {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}


.social__item--telegram .social__ref  {
    background-image: url(img/telegram.png);
}
.social__item--vk .social__ref  {
    background-image: url(img/vk.png);
}
.social__item--facebook .social__ref  {
    background-image: url(img/f.png);
}
.social__item--inst .social__ref  {
    background-image: url(img/in.png);
}

.social__item--telegram .social__ref:hover {
    background-image: url(img/telegram-h.png);
}
.social__item--vk .social__ref:hover {
    background-image: url(img/vk-h.png);
}
.social__item--facebook .social__ref:hover {
    background-image: url(img/f-h.png);
}
.social__item--inst .social__ref:hover {
    background-image: url(img/in-h.png);
}


.social__item:last-child {
    margin-right: 0px;

}

.footer .contacts {
    display: inline-block;
}





