@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #17191C;
    font-size: 14px;
    color: #fff;
    line-height: 1.42;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0 0 0 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

.container {
    width: 1141px;
    margin: 0 auto;
}