.contacts {
    font-style: normal;
    text-align: right;
    line-height: 1.1;
    position: relative;
}

.contacts__dropdown-menu {
    margin-top: 9px;
    position: absolute;
    left: 28px;
    left: -9999px;
    top: 52px;
    background: rgb(164, 171, 173);
    color: #1E1F20;
    font-size: 13px;
    font-weight: 600;
    padding: 20px;
    opacity: 0;
    border-radius: 4px;
}

.contacts__dropdown-menu:after {
    content: "";
    top: -20px;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
}

.contacts__dropdown-menu:before {
    content: "";
    position: absolute;
    top: -19px;
    left: 105px;
    display: block;
    border: 10px solid transparent;
    border-bottom: 10px solid  rgb(164, 171, 173);
}

.contacts:hover .contacts__dropdown-menu {
    /* transition: .5s; */
    left: 28px;
    opacity: 1;
}

.dropdown-item {
    margin-bottom: 12px;
}

.dropdown-item:last-child {
    margin-bottom: 0px;
}

.contacts__dropdown-menu .dropdown-item:first-child {
    font-weight: 700;
}


.contacts__number {
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    padding-bottom: 1px;
}

.contacts__info {
    font-size: 11px;
    color: #9A9A9A;
    text-decoration: none;
    margin-bottom: 6.5px;
}