.social {
    margin-right: 77px;
}

.social__list {
    display: flex;
}

.social__item {
    margin-right: 9px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__ref {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}


.social__item--telegram .social__ref {
    width: 36px; height: 36px;
    background: url(/../../img/css_sprites.png) -122px -66px;
}

.social__item--vk .social__ref {
    width: 36px; height: 36px;
    background: url(/../../img/css_sprites.png) -66px -122px;
}

.social__item--facebook .social__ref {
    width: 36px; height: 36px;
    background: url(/../../img/css_sprites.png) -66px -10px;
}

.social__item--inst .social__ref {
    width: 36px; height: 36px;
    background: url(/../../img/css_sprites.png) -66px -66px;
}

.social__item--telegram .social__ref:hover {
    width: 36px; height: 36px;
    background: url(/../../img/css_sprites.png) -122px -10px;
}

.social__item--vk .social__ref:hover {
    width: 36px; height: 36px;
    background: url(/../../img/css_sprites.png) -10px -122px;
}

.social__item--facebook .social__ref:hover {
    width: 36px; height: 36px;
    background: url(/../../img/css_sprites.png) -10px -10px;
}

.social__item--inst .social__ref:hover {
    width: 36px; height: 36px;
    background: url(/../../img/css_sprites.png) -10px -66px;
}